// 设置通用变量、定义基本样式
:root {
  --vt-c-white: #ffffff;
  --vt-bg-color: #f0f0f0;
  --vt-border-color: #d6d5d5;
  --vt-border-disabled-color: #C7CFD5;
  --vt-main-color: #000000;
  --vt-card-bg-color: #dfdfdf;
  --vt-dialog-bg-color: #ffffff;
  --vt-dialog-model-bg-color: rgba(0,0,0,0.3);
  --vt-carouse-bg-color: #1a1a1a;
  --vt-main-bg-color: #007cdb;
  --vt-main-danger-bg-color: #ff5a5a;
  --vt-main-base-bg-color: #1c1d1e;
  --vt-main-warning-bg-color: #b7b7b7;
}
