.vk-alert{
  --vk-alert-padding: 8px 16px;
  --vk-alert-border-radius-base: var(--vk-border-radius-base);
  --vk-alert-title-font-size: var(--vk-font-size-base);
  --vk-alert-title-with-description-font-size: var(--vk-font-size-medium);
  --vk-alert-description-font-size: var(--vk-font-size-base);
  --vk-alert-close-font-size: var(--vk-font-size-medium);
  --vk-alert-close-customed-font-size: var(--vk-font-size-base);
  --vk-alert-icon-size: var(--vk-font-size-medium);
  --vk-alert-icon-large-size: 28px;
  --vk-alert-bg-color:var(--vk-color-white);
  --vk-alert-color:var(--vk-color-white);
}

.vk-alert{
  width: 100%;
  padding: var(--vk-alert-padding);
  margin: 0;
  box-sizing: border-box;
  border-radius: var(--vk-alert-border-radius-base);
  position: relative;
  background-color: var(--vk-alert-bg-color);
  color:var(--vk-alert-color);
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity var(--vk-transition-duration-fast);
  &.is-center{
    justify-content: center;
  }
  &:not(:first-child){
    margin-top: 20px;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-size: var(--vk-alert-title-font-size);
    line-height: 24px;
    &.with-description{
      font-size: var(--vk-alert-title-with-description-font-size);
    }
  }
  &__close-btn{
    position: absolute;
    opacity: 1;
    top: 10px;
    right: 16px;
    cursor: pointer;
    &.is-custom{
      line-height: 24px;
      top: 8px;
      font-size: var(--vk-alert-close-customed-font-size);
    }
  }
  &__icon{
    margin-right: 8px;
    &.is-big{
      .svg-inline--fa{
        height: var(--vk-alert-icon-large-size);
      }
    }
  }
  &__description{
    font-size: var(--vk-alert-description-font-size);
  }
  .svg-inline--fa{
    height: var(--vk-alert-title-font-size);
  }
}

// 每种样式重新赋值
@each $val in success,warning,info,danger {
  .vk-alert--#{$val} {
    --vk-alert-color: var(--vk-color-#{$val});
    --vk-alert-bg-color: var(--vk-color-#{$val}-light-9);
    &.is-dark{
      --vk-alert-color: var(--vk-color-white);
      --vk-alert-bg-color: var(--vk-color-#{$val});
    }
  }
}

.fade-alert-enter-from,
.fade-alert-leave-active {
  opacity: 0;
}
